@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* { box-sizing:border-box}
body{
	font-family: 'Gowun Dodum', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight:700;
}
a, a:link{
	text-decoration:none;
	color:#333;
}
a:hover,a:active{
	color:#000;
}
.container{
	width:1330px;
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
}
.row, .flex{
	display:flex;
	flex-flow: row wrap;
}

.row{
	margin-left:-15px;
	margin-right:-15px;
}
[class*="col-"] {
	padding:15px;
}
.col-4 {
	flex: 0 0 33.33333333%;
	max-width:33.333333%;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;	
}
.col-6{
    flex: 0 0 50%;
    max-width:50%;	
}
.text-center{
	text-align:center;
}
.text-right {
	text-align: right;
}
.justify-content-center{
	justify-content: center;
}
.align-item-center{
	align-items: center;
}
.title{
	font-size:25px;
	margin-top:50px;
}
.titlep{
	color:#999;
	margin-top:20px;
	margin-bottom:50px;
}
.box{
	display:block;
	padding:15px;
	border:1px solid #ddd;
	border-radius:10px;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
	transition:300ms;
	min-height:162px;
}
.box:hover{
	background:#efefef;
	transform: translate(-3px, -3px);
	box-shadow: 3px 3px 15px 0 rgba(0,0,0,0.2);
}
.box h3{
	font-size:18px;
	margin-bottom:10px;
}
.box span{
	font-size:13px;
	color:#666;
	font-family:'Noto Sans KR', sans-serif;
	margin-right:15px;
}
.box p{
	margin-top:15px;
	margin-bottom:10px;
	font-size:15px;
}
.box img{
	width:200px;
	height:130px;
	object-fit:cover;
	float:left;
	margin-right:15px;
}
.box .wdate{
	text-align:right;
}
.wdate span:last-child{
	margin-right:0;
}

ul.pagination{
	display: flex;
	width: 60%;
	justify-content: center;
	margin: 50px auto;
}
ul.pagination li{
	margin-left:5px;
	margin-right:5px;
}
ul.pagination li a{
	display:block;
	border:1px solid #666;
	border-radius:4px;
	width:25px;
	height:25px;
	text-align:center;
	line-height:25px;
	font-size:14px;
}
ul.pagination li a.prne{
	width:35px;
}
ul.pagination li a:hover,
ul.pagination li a.active{
	background:#ddd;
}


/***************로그인***************/
.flex-column{
	flex-direction: column;
}
.login-title {
	font-size: 35px;
	margin-top: 50px;
	margin-bottom: 50px;
}
.login-txt{
	color: red;
}
.login-box{
	margin-top: 50px;
	border: 1px solid #efefef;
	width: 500px;
	max-width: 100%;
	padding: 40px;
	border-radius: 10px;
	background: #fefefe;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.08);
}
.loginform input{
	display: block;
	padding: 10px 10px;
	width: 100%;
	margin-bottom: 30px;
	outline: none;
	border: none;
	border-bottom: 1px solid #ddd;
	transition: 300ms;
}
.loginform input:focus {
	border-bottom: 2px solid #8080ff;
}

.btn-reset {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
}
.btn-reset:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}
.btn-reset:active {
	position:relative;
	top:1px;
}


.btn-submit {
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
	background-color:#bddbfa;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}
.btn-submit:hover {
	background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
	background-color:#80b5ea;
}
.btn-submit:active {
	position:relative;
	top:1px;
}

        




























